@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');


#content {
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;

}
body {
    background-color: #B7EBF6;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
header {
    background-color: #3760bf;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2em;
    margin: 0;
}

nav a {
    text-align: center;
    color:#ffffff;
    padding: 35px;
    text-decoration: none;
}
nav a:hover {
    background-color: #00BBE0;
    color: #171614;
}
h4 {
    color: #171614;
    font-family: 'Josefin Sans', sans-serif;
}

.book {
    background-color: #B7EBF6;
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover {
    color: #171614;
    text-decoration: none;
}
.card-img {
    border: 10px solid #006AA3;
}
main section img {
    box-sizing: border-box;
}
.join {
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
}
.join:hover {
    background-color: #00BBE0;
    color: #171614;
}
.rivers-card {
    margin: 200px 0;
}
.camping-card {
    margin: 200px 0;
}
.rapids-card {
    margin: 200px 0;
}
.icon {
    padding-top: 10px;

}
.msg {

    background-color: #B7EBF6;
    line-height: 1.5em;
    padding:35px;
}

.msg h2 {
    color: #171614;
}
.msg p {
    color: #171614;
    font-family: "PT Sans Narrow", "sans";
    font-size: 0.8em;
    padding-bottom:15px;
}

main {
    text-align: center;
    font-family: "PT Sans Narrow", "sans";
}
section {
    text-align: center;
}
footer {
    background-color: #006AA3;
    color: #171614;
    padding: 25px 50px;
    margin-top: 200px;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
footer a {
    color: #171614;
    text-decoration: none;
}
footer a:hover {
    color: #171614;
}
footer .social img {
    padding-top: 15px;
}

#hero-msg h1, hero-ms h4 {
    font-family: "PT Sans Narrow", "sans";
    text-align: center;
}
.button-box {
    text-align: center;
}
#background {
    height: 725px;
    background-color: #00BBE0;
}
.home-title {
    color: #171614;
    font-size: 2em;
    margin-top: 10px;

}
.logo {
    width: 80px;
    padding-top: 5px;
}