
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: Poppins;
 }
body {
    background-color: #458776ff;
    display: grid;
    grid-template-columns: 340px 1fr;
    grid-template-rows: 5fr; 
    gap: 100px;
 }

.second-layer {
    background-color: #a4de7cff;
    height: 200vw;
    min-height: 100%;
    margin-top: 0;
}

header {
    grid-column: 1/2;
    box-sizing: border-box;
}

header section nav {
    align-items: center;
    padding:25px;
    font-size: 1em;
    font-weight: bold;
}

header section nav ul{
    list-style-type: none;
    display: flex;
    padding: 20px;
    width: 340px;
}

button {
    border-radius: 20%;
    justify-content: center;
    width: 200px; 
    height: 50px; 
    background-color: #f2ecda;
    border-style: hidden;
}

main {
    max-height: 300vh;
    margin: 0 auto;
    padding: 0;
}

#reading-panel {
    box-sizing: border-box;
    background-color: #a4de7cff;
    grid-column: 2/3;
    margin-right: 100px;
    height: 100vh;
    width: auto;
}

#reading-2nd-panel {
    justify-items: center;
    margin: auto;
    background-color: #f2ecda;
    width:95%;
    height: 100%;
    text-wrap: auto;
    font-size: 1.25em;
}



h1 {
    justify-self: center;
    margin: 1em auto;
    padding: 30px
}

p {
    padding-left:30px;
    padding-right:30px;
    padding-bottom: 20px;
    padding-top: 40px;

}

.main-body-images {
    height: 20% fit-content;
    width: auto;
    object-fit: contain;
    display: inline-flex;
    padding: 5%;

}



* {
    margin: 0;
    padding: 0;
    
}

footer {
    display: block;
    color:black;
    background-color: #a4de7cff;
    width: 100%;
}